<div class="container-fluid cont">
  <div class="row d-flex justify-content-start">
    <div class="col-1"></div>
    <div class="menu col-1 log d-flex align-items-center"><a href="/" style="color:brown">Cars</a></div>
    <div class="menu col-1 d-flex align-items-center"><a href="/addCar">Add</a></div>
    <div class="menu col-1 d-flex align-items-center"><a href="/editCar">Edit</a></div>
    <div class="menu col-1 d-flex align-items-center"><a href="/listCar">List</a></div>
    <div class="col-4"></div>
  </div>
</div>